@charset "UTF-8";

// 功能：单行文本垂直居中
// @param {number} $height 高度.
@mixin height($height) {
  height: $height;
  line-height: $height;
}

// 功能：文本溢出显示省略号
// @param {number} $line 文本行数.
@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    word-break: break-all;
  }
}

// 功能：正方形
// @param {number} $length 边长.
@mixin square($length) {
  display: inline-block;
  width: $length;
  @include height($length);
}

// 功能：圆形
// @param {number} $diameter 边长.
@mixin circle($diameter) {
  @include square($diameter);
  border-radius: 50%;
}

// 功能：点击动效
@mixin active {
  &:active {
    opacity: 0.8;
  }
}

// 功能：悬浮动效
@mixin hover {
  &:hover {
    opacity: 0.9;
  }
}

// 功能：悬浮点击动效
@mixin click-animation {
  @include active;
  @include hover;
}

// Clearfix
// @see http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// 功能：蒙层
// @param {number} $zIndex 控制在目标元素上方或下方显示.
// @param {color} $backgroundColor 颜色.
// @param {float} $opacity 不同明度.
@mixin mask($zIndex: 1, $backgroundColor: black, $opacity: 0.2) {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    opacity: $opacity;
    content: '';
    z-index: $zIndex;
  }
}

// 功能：子元素水平排列并垂直居中
// @param {top|middle|bottom} $vAlign 对齐方式
@mixin level-children($vAlign: middle) {
  > * {
    display: inline-block;
    vertical-align: $vAlign;
  }
}

// 功能：基本按钮
// @param {top|middle|bottom} $vAlign 对齐方式
@mixin btn($height: '', $width: '') {
  display: inline-block;
  @if ($height != '') {
    @include height($height);
  }
  @if ($width != '') {
    width: $width;
  }
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  //  无法选中文本
  user-select: none;
  @include click-animation;
}

// 功能：垂直居中+水平居中
// 注意：父元素定位必须为relative、absolute、fixed之一。
@mixin center() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

// 功能：直角三角形
// @param {0-360deg} $deg 箭头方向，默认向上
// @param {number} $height 三角形箭头向上时高度
@mixin right-triangle($deg: 0deg, $height: 5px, $color: red) {
  //$g2: 1.414; //  根号2
  $g2: 1.3; //  根号2
  position: relative;
  display: inline-block;
  height: $height;
  width: $height * 2;
  overflow: hidden;
  transform: rotate($deg);
  &:after {
    content: '';
    @include center;
    margin-bottom: - $height / $g2;
    display: inline-block;
    height: $height * $g2;
    width: $height * $g2;
    transform: rotate(45deg);
    background-color: $color;
  }
}

@mixin placeholder-color($color: #ddd) {
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $color;
  }
}
